.container {
    width: 1000px;
  height: 500px;
  background-color: rgb(255, 165, 39);
  border: 3px solid black;
  color: tomato;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(4,100px);
  grid-template-rows: repeat(3,100px);
  gap: 10px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-auto-columns: 60px;
  /* grid-template-areas: "header header header header" 
                          "main main . sidebar"
                          "footer footer footer footer"; */
    
}
.item {
    width: 100px;
  height: 100px;
  background-color: lime;
  border: 3px solid black;
 color: black;
 text-align: center;
  align-content: center;
  /* margin: 10px; */
    
}
/* .item1 {
    grid-area: header;
}
.item2 {
    grid-area: main;
}
.item3 {
    grid-area: sidebar;
}
.item4 {
    grid-area: footer;
} */