/* p{
    color: blue;
    background-color: red;
    text-align: center;
}
    .p{
        background-color: aqua;
    }
    #jk{
        font-size: 25px;
    }
div {
    height: 200px;
    width: 200px;
    background-color: red;
    padding: 10px;
    border: 1px solid black;
margin: 100px;
}
.container{
    height: 200px;
    width: 200px;
    background-color: red;
    padding: 10px;
    border: 1px solid black;
margin: 100px;
}
.charset {
    height: 200px;
    width: 200px;
    background-color: red;
    padding: 10px;
    border: 1px solid black;
margin: 100px;
}
.third {
    height: 200px;
    width: 200px;
    background-color:blue;
    padding: 10px;
    border: 1px solid black;
margin: 100px;
}
p{
    color: blueviolet;
    text-align: center;
}
.p{
    color

} */



